* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 12px;
}

nav {
    display: none;

    border: 1px solid gray;
    background-color: lightgray;
    /* display: flex; */
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    width: fit-content;

    position: absolute;
    /* z-index: -1; */
    top: 40px;
}

.laptop-btns {
    display: none;
}

.menu-container {
    order: -1;
    background-color: chocolate;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.menu-container:hover nav {
    background-color: yellow;
    display: flex;
}

@media (width>=600px) {
    nav {
        display: flex;
        flex-direction: row;
        position: static;

        background-color: transparent;
        border: none;
    }

    .menu-container {
        order: 1;
        height: fit-content;
        width: fit-content;
        border-radius: 0;
        background-color: transparent;
    }

    .laptop-btns {
        display: flex;
        order: 2;
    }

    .mobile-btns {
        display: none;
    }

    header {
        justify-content: space-between;
    }
}
